extends ../layout

block content

  div#mainContainer
    div#titleContainer
      h1 TuDuCe
    div#borderContainer 
    div#verticalDivContainer
    div#taskAddContainer
      div#addTaskButton
        button 
          i.fa.fa-plus-square-o.fa-3x
      div#newTask
      form
        p
          label(for="title_input") 
          input#title_input(type="text", placeholder="Title" name="taskTitle")
        p
          label(for="notes") 
          input#notes(type="text", placeholder="Notes" name="taskNotes")
        
      
    div#taskCount 
    div#taskViewContainer
      ul#taskContainer
        each task in taskCollection
          li(class= (task.checked? "green" : "incomplete" ))
            form(action="/tasks/completed/#{task._id}", method="POST", encytpe="application/x-www-form-urlencoded")
              input.checkbox(type='checkbox', name="task", checked=(task.checked? "checked" : undefined))
            a(href='/tasks/#{task._id}')
              span.title= task.title
              span.notes= task.notes
            form#deleteButton(action="/tasks/#{task._id}?_method=DELETE", method="POST" enctype="application/x-www-form-urlencoded")
               button
                i.fa.fa-times.fa-3x



        